<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="topnav" id="topnavID">
        <a class="active" href="/"><img src="/static/img/nove_logo.png" style="max-width:100%; height:auto; display: inline-block; box-sizing: border-box;" alt="Domov"></a>
        <div class="dropdown">
            <a><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>Nová objednávka</a>
            <div class="dropdown-content">
                <a href="/orders/svk">Slovensko</a>
                <a href="/orders/cz">Česko</a>
                <a href="/orders/at">Rakúsko</a>
            </div>
        </div>
        <a href="/confirmed_offers"><i class="fa fa-handshake-o" aria-hidden="true"></i> Potvrdené cenové ponuky</a>
        <a href="/calendar"><i class="fa fa-calendar-o" aria-hidden="true"></i> Kalendár</a>

        <div class="dropdown">
            <a><i class="fa fa-user" aria-hidden="true"></i></a>
            <div class="dropdown-content">
                {% if current_user.admin %}
                        <a href="/users"><i class="fa fa-address-card" aria-hidden="true"></i> Používatelia</a>
                        <a href="/admins"><i class="fa fa-address-card-o" aria-hidden="true"></i> Adminovia</a>
                {% endif %}
                <a href="/profile" class="right"><i class="fa fa-user-circle" aria-hidden="true"></i> Profil</a>
                <a href="/logout" class="right"><i class="fa fa-unlock" aria-hidden="true"></i> Odhlásiť sa</a>
            </div>
        </div>
        <a href="#" class="icon" onclick="makeVerticalNavbar()">
            <i class="fa fa-bars"></i>
        </a>
</div>
    {% block body %}
    {% endblock %}
    <script>
        // hide horizontal navigation bar and make it vertical
        // code is sourced from W3schools tutorial
        // available from : https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
        function makeVerticalNavbar() {
            var x = document.getElementById("topnavID");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
            return false;
        }
    </script>
</body>
</html>