{% extends "base.html" %}

{% block head %}
<title>Profil</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}">
{% endblock %}

{% block body %}

<div class="borders">
    <div class="title">Zmena hesla</div>
        <form action="/newpassword" method = "POST">
            <div class="form">
                <label for="pswd1">Nové heslo:</label>
                <p><font color="#ff8500">(Musí sa líšiť od starého)</font></p>
                <input type = "password" name = "pswd1" class="form-control" id="pswd1">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <font color="#ff8500"><li>{{ message }}</li></font>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <label for="pswd2">Zopakujte nové heslo:</label>
                <input type = "password" name = "pswd2" class="form-control"  id="pswd2">
                <button class= "btn btn-info" style="margin-top: 10px">Uložiť</button>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
</div>
{% endblock %}