{% extends "base.html" %}

{% block head %}
<title>Profil</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}

<div class="borders">
    <div class="title">Profil</div>
    <form>
        <div id="profil" class="form">
            <label for= "username">Užívateľské meno:</label>
            <input type = "text" name = "username" class="form-control" id="username" readonly ="readonly" value="{{current_user.username}}">
            <label for="password">Email:</label>
            <input type = "text" name = "email" class="form-control"  readonly ="readonly" id="email" value= "{{current_user.email}}">
        </div>
    </form>
    <form id ="newdata" action="/newdata">
        <div class="form-group" style="margin-top:25px;">
            <button class="btn btn-info">Zmena emailu</button>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
    <form id ="newpswd" action="/newpassword">
        <div class="form-group" style="margin-top:25px;">
            <button class="btn btn-info">Zmena hesla</button>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
</div>
{% endblock %}